body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .logout-container {
    text-align: center;
  }
  
  #logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .background {
    background: url('background.jpg') no-repeat center center/cover;

}
  
  #logout-button:hover {
    background-color: #ff1a1a;
    transform: scale(1.05);
  }
  
  #logout-button:active {
    background-color: #e60000;
    transform: scale(1);
  }
  